* {
  padding: 0;
  margin: 0;
}
html {
  background-color: black;
}
header {
  margin-top: 2rem;
  line-height: 40px;
  padding: 15px;
  margin-left: 40px;
  color: white;
  height: 10vh;
  border: solid salmon 2px;
  display: inline-block;
  border-radius: 40px;
}

.container {
  height: max-content;
  margin-top: 20px;
  display: flex;
  width: 700px;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
}
.mark {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(215, 59, 200, 0.675);
  color: lightgoldenrodyellow;
  border: solid 5px pink;
  border-radius: 20px;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;

  flex-wrap: wrap;
}
.minibox {
  height: fit-content;
  padding: 10px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  border-radius: 20px;

  align-items: center;
  text-align: center;
  width: 100px;
}

.imgSrc {
  width: 70px;
  height: 90px;
}
.bigContainer {
  background-color: black;
  gap: 20px;
  display: flex;
  gap: 100px;
}
.favContainer {
  border-radius: 30px;
  margin-left: 40px;
  padding: 10px;
  width: 280px;
  margin-top: 10px;
  background-color: pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.favBox {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

