
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
}

header {
margin:20px;
font-size: 10px;;
  padding: 5px;
  color: white;
  height: 10vh;
  border: solid salmon 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  text-align: center;

}

.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
  justify-content: center;
  width: 70%;
}

/* Estilos para las series en favoritos */
.mark,
.minibox {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  background-color: rgba(215, 59, 200, 0.675);
  color: lightgoldenrodyellow;
  border: solid 5px pink;
  border-radius: 20px;
  height: 220px;
  width: 150px;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
}

.minibox {
  background-color: pink;
  color:black;

}
.binBag{
  width: 30px;
  height: 30px;
}
.imgSrc {
  width: 70px;
  height: 90px;
}

.bigContainer {
  background-color: black;
  gap: 20px;
  display: flex;
  width: 100vw;
  justify-content:flex-start;
  align-items: flex-start; /* Espacio entre los contenedores */
}

.favContainer {
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  width: 30%;
  background-color: pink;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favBox {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.deletedAll{
  margin:20px;

}